@import '../../assets/styles/main.scss';

.wrapper {
    background: $r-color-white;
    display: flex;
    padding: .5rem;
    font-size: 1.2rem;

    &:hover {
        border: .15rem solid $r-color-primary;
    }

    &__input {
        border: none;
        outline: none;
        width: 100%;
    }

    &__icon {
        padding: 0 .5rem;
        display: flex;
        align-items: center;

        svg {
            font-size: 1.2rem;
        }
    }
}

.input-error {
    font-size: .75rem;
    color: $r-color-red;
    padding-top: .5rem;
}