@import '../../../assets/styles/main';

.sign-in {

    display: flex;
    width: 100%;
    height: 100%;

    .background {
        width: 50%;
        background: url('../../../assets/images/sign-in.jpg') no-repeat;
        background-size: contain;
        background-position: center;
    }

    .content {
        width: 50%;
        background: #f0f0f0;
        position: relative;

        &__wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            width: 50%;

            &__input {
                margin-bottom: 1.5rem;
            }

            &__heading {
                font-size: 3rem;;
                font-weight: 600;
            }

            &__forgot-link {
                color: $r-color-grey;
                margin-bottom: 10px;
            }

            &__confirmation-button {
                background-color: $r-color-primary;
                cursor: pointer;
                outline: none;
                padding: 1rem;
                width: 100%;
                border-radius: 2.5rem;
                font-size: 1.2rem;
                border: none;
                text-transform: uppercase;
                font-weight: 600;
                color: $r-color-white;
                margin: 1rem 0 2.5rem 0;

                &:hover {
                    background-color: $r-color-secondary;
                    color: $r-color-white;
                }
            }

            &__social-sign-in {
              
              display: flex;
              justify-content: space-between;

              &__label {
                color: $r-color-grey;
                font-size: .8rem;
              }

              &__button {
                  border-radius: 2.5rem;
                  border: none;
                  outline: none;
                  background-color: $r-color-white;
                  padding: .7rem;
                  width: 45%;
                  font-size: 1rem;
                  cursor: pointer;

                  &:hover {
                    color: $r-color-white;
                    font-weight: 600;
                  }
              }

              .facebook {
                  &:hover {
                      background-color: $r-color-facebook;;
                  }
              }

              .google {
                  &:hover {
                    background-color: $r-color-google;
                  }
              }

            }
        }
    }
}

@media only screen and (max-width: $bp-large) {
    .sign-in {

        .background {
            display: none;
        }

        .content {
            width: 100%;
        }
    }    
}

@media only screen and (max-width: $bp-xlarge) {
    .sign-in {

        .content {
            &__wrapper {
                width: 80%;
            }
        }
    }    
}



