$r-color-primary: #00c8ac;
$r-color-light: #00dfc0;
$r-color-secondary: #009c86;
$r-color-tertiray: #01705f;
$r-color-white: #ffffff;
$r-color-black: #000000;
$r-color-grey: #2c2c2caf;
$r-color-light-grey: #9292921c;
$r-color-facebook: #4267b2;
$r-color-google: #d61f1f;
$r-color-red: #b80202;
